In [1]:
data=[(12345,"Diksha","Diksha r@nuv.ac.in"),(45667,"Jiva", "Jiva@nuv.ac.in"),(16789,"Ronit","Ronit@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]

In [2]:
n=int(input("Enter id: "))
for i in data:
    print(i[0])
    if i[0]==n:
        print(i)

Enter id: 12345
12345
(12345, 'Diksha', 'Diksha r@nuv.ac.in')
45667
16789
69433

In [3]:
Mydict ={"Enrollment Id" :[12345, 45667, 16789, 69433],"Student Name": ["Diksha" , "Jiva", "Ronit", "Heena"],"Email Id":["Diksha r@nuv.ac.in", "Jiva@nuv.ac.in", "Ronitd@nuv.ac.in","Heena@nuv.ac.in"]}

In [5]:
value = int(input("=>"))

=>12345

In [8]:
for i in range(len(Mydict["Enrollment Id"])):
    if Mydict["Enrollment Id"][i]==value:
        enrolid = Mydict["Enrollment Id"][i]
        sname = Mydict["Student Name"][i]
        emailid = Mydict["Email Id"][i]
print(f"{enrolid:<7} {sname:12}{emailid:25}")

12345   Diksha      Diksha r@nuv.ac.in

In [1]:
data=[(12345,"Diksha","Dikshar@nuv.ac.in"),(45667,"Jiva","Jiva@nuv.ac.in"),(16789,"Ronit","Ronitd@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]
Mydict = {"Enrollment ID":[],"Sname":[],"Semail":[]}
for i in data:
    Mydict["Enrollment ID"].append(i[0])
    Mydict["Sname"].append(i[1])
    Mydict["Semail"].append(i[2])
print(Mydict)

{'Enrollment ID': [12345, 45667, 16789, 69433], 'Sname': ['Diksha', 'Jiva', 'Ronit', 'Heena'], 'Semail': ['Dikshar@nuv.ac.in', 'Jiva@nuv.ac.in', 'Ronitd@nuv.ac.in', 'Heena@nuv.ac.in']}

In [17]:
import json
d={ "id " : "22000270","Name":"Rushil","Contact":"2722829"}
f = open("Bcastudent.json","w")

In [18]:
jsdata = json.dumps(d , indent=4)
f.write(jsdata)

73

In [19]:
f = open("Bcastudent.json","r")
detail = json.load(f)
print(detail)

{'id ': '22000270', 'Name': 'Rushil', 'Contact': '2722829'}

In [27]:
d ={ "id":"626663","Name":"dusd","Contact":"383782377"}
f = open("Bcastudent.json","a")
json.dump(d ,f ,indent=4)

In [31]:
import pandas as pd
df = pd.read_csv("data1.csv")
df

   stateid            name   population in crores   No. of Universities
0    12001         Gujarat                     10                    29
1    12002     Maharashtra                     19                    36
2    12003       Rajasthan                     13                    31
3    12004  Madhya Pradesh                     14                    21
4    12005          Punjab                     12                    13
5    12006       Karnataka                     23                    31
6    12007       Tamilnadu                     25                    29
7     1208          Kerala                     21                    15

In [40]:
keys = list(df.keys())
keys
value = list(df.values)

for d in value:
    states[d[0]]={
        
    }

[12001 'Gujarat' 10 29]
[12002 'Maharashtra' 19 36]
[12003 'Rajasthan' 13 31]
[12004 'Madhya Pradesh' 14 21]
[12005 'Punjab' 12 13]
[12006 'Karnataka' 23 31]
[12007 'Tamilnadu' 25 29]
[1208 'Kerala' 21 15]